{{ define "Home" }}
    {{ template "Header" }}

        <ul>
            <li>
                <a href="/"><p>Welcome to Quiz!</p></a>
            </li>
            <li>
                <a href="/user"><p>Let's Go!</p></a>
            </li>
            <li>
                <a href="/questions"><p>Questions!</p></a>
            </li>
            <li>
                <a href="/administrator"><p>Admin!</p></a>
            </li>
            <li>
                <a href="/"><p>QUIZ APP</p></a>
            </li>
        </ul>


    {{ template "Footer" }}
{{end}}